<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRShopping"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".scanQr"
            android:exported="false" />
        <activity
            android:name=".customPriceOfProduct"
            android:exported="false" />
        <activity
            android:name=".priceOfProduct"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".singleBuyQuantity"
            android:exported="false" />
        <activity
            android:name=".customCartShop"
            android:exported="false" />
        <activity
            android:name=".cartShop"
            android:exported="false" />
        <activity
            android:name=".customViewBillProduct"
            android:exported="false" />
        <activity
            android:name=".viewBillProduct"
            android:exported="false" />
        <activity
            android:name=".quantity"
            android:exported="false" />
        <activity
            android:name=".view_product_cart"
            android:exported="false" />
        <activity
            android:name=".custom_View_Product_cart"
            android:exported="false" />
        <activity
            android:name=".customViewOffer"
            android:exported="false" />
        <activity
            android:name=".viewOffer"
            android:exported="false" />

        <uses-library android:name="org.apache.http.legacy" />

        <activity
            android:name=".UserHome"
            android:exported="false"
            android:label="@string/title_activity_user_home"
            android:theme="@style/Theme.QRShopping.NoActionBar" />
        <activity
            android:name=".customViewReply"
            android:exported="false" />
        <activity
            android:name=".viewReply"
            android:exported="false" />
        <activity
            android:name=".sendComplaint"
            android:exported="false" />
        <activity
            android:name=".addRating"
            android:exported="false" />
        <activity
            android:name=".viewProfile"
            android:exported="false" />
        <activity
            android:name=".sendFeedback"
            android:exported="false" />
        <activity
            android:name=".customViewProduct"
            android:exported="false" />
        <activity
            android:name=".viewProduct"
            android:exported="false" />
        <activity
            android:name=".ViewBill"
            android:exported="false" />
        <activity
            android:name=".customViewBill"
            android:exported="false" />
        <activity
            android:name=".customViewShop"
            android:exported="false" />
        <activity
            android:name=".viewShop"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ip"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>