<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Home</title>
</head>
<body>
<form action="" method="get">
    <table width="200" border="1">
        <tr>
            <td><a href="/verify_shop">verify shop</a></td>
        </tr>
        <tr>
            <td><a href="/view_approved_shop">view approved shop</a></td>
        </tr>
        <tr>
            <td><a href="/view_feedback">view feedback</a></td>
        </tr>
        <tr>
            <td><a href="/view_complaint_send_reply">view complaint</a></td>
        </tr>
        <tr>
            <td><a href="/view_rating">view rating</a></td>
        </tr>
    </table>

</form>
</body>
</html>
