<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> reply</title>
</head>


<body>
<form action="" method="post">
<table width="477" border="1">
  <tr>
    <th width="59" scope="col">Reply</th>
    <th width="196" scope="col"><label for="textfield"></label>
      <label for="textarea"></label>
      <textarea name="reply" id="textarea" cols="45" rows="5" placeholder="reply"></textarea></th>
  </tr>
  <tr>
    <td colspan="2"> <center><input type="submit" name="button" id="button" value="Submit" /> </center></td>
  </tr>
</table>

</form>
</body>
</html>
