<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Feedback</title>
</head>

<body>
<form action="" method="post">
    <table>
        <tr>
            <td>Choose feedback type</td>
            <td>
                <select name="select">
                    {#                    <option selected disabled>type</option>#}
                    <option>shop</option>
                    <option>user</option>
                </select>
            </td>
            <td>
                <input type="submit" value="search">
            </td>
        </tr>
    </table>
<table width="200" border="1">
  <tr>
    <th scope="col">#</th>
    <th scope="col">username</th>
    <th scope="col">feedback</th>
    <th scope="col">date</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.feedback }}</td>
    <td>{{ i.date }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
