<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Approved shop</title>
</head>

<body>
<form action="" method="get">
    <table width="359" border="1">
        <tr>
            <th width="10" scope="col">#</th>
            <th width="45" scope="col">name</th>
            <th width="44" scope="col">place</th>
            <th width="64" scope="col">pincode</th>
            <th width="35" scope="col">mail</th>
            <th width="51" scope="col">phone</th>
            <th width="64" scope="col">image</th>
            <th colspan="2" scope="col">&nbsp;</th>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.name }}</td>d
                <td>{{ i.place }}</td>
                <td>{{ i.pincode }}</td>
                <td>{{ i.mail }}</td>
                <td>{{ i.phone }}</td>
                 <td> <img src=" {{ i.image }}" width="100" height="100"/></td>d
                {% if i['user_type'] == 'shop' %}
                    <td width="65"><a href="/block/{{ i.login_id }}">block</a></td>
                {% else %}
                    <td width="47"><a href="/unblock/{{ i.login_id }}"> unblock</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>

</form>
</body>
</html>
