<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Add stock</title>
</head>

<body>
<h1>add stock</h1>
<form action="" method="post">
    <table width="296" border="1">
        <tr>
            <th width="165" scope="col">product</th>
            <th width="115" scope="col"><select name="select" id="select" >
            {% for i in data %}
            <option value="{{i.product_id}}">{{i.name}}</option>
            {% endfor %}
            </select></th>
        </tr>

        <tr>
            <td>quantity</td>
            <td><input type="text" name="quantity" id="textfield"/> </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="button" id="button" value="add"/></td>
        </tr>
    </table>


</form>
</body>
</html>
