<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>add offer</title>
</head>

<body>
<form action="" method="post">
    <table width="267" border="1">
        <tr>
            <th width="168" scope="col">offer</th>
            <th width="83" scope="col"><label for="textfield2"></label>
                <input type="text" name="offer" id="textfield2"/></th>
        </tr>
        <tr>
            <td>date from</td>
            <td><label for="textfield3"></label>
                <input type="date" name="date_from" id="textfield3"/></td>
        </tr>
        <tr>
            <td>date to</td>
            <td><label for="textfield4"></label>
                <input type="date" name="date_to" id="textfield4"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="button" id="button" value="Add"/></td>
        </tr>
    </table>


</form>
</body>
</html>
