<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>register</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data">
    <table width="314" border="1">
        <tr>
            <td width="78" scope="col">shop name</td>
            <td width="220" scope="col">
                <label for="textfield10"></label>
                <input type="text" name="shop_name" id="textfield10"/>
        </tr>
        <tr>
            <td>place</td>
            <td><label for="textfield2"></label>
                <input type="text" name="place" id="textfield2"/></td>
        </tr>
        <tr>
            <td>pin</td>
            <td><label for="textfield3"></label>
                <input type="text" name="pin" id="textfield3"/></td>
        </tr>
        <tr>
            <td>email</td>
            <td><label for="textfield4"></label>
                <input type="email" name="email" id="textfield4"/></td>
        </tr>
        <tr>
            <td>phone</td>
            <td><label for="textfield5"></label>
                <input type="text" name="phone" id="textfield5"/></td>
        </tr>
        <tr>
            <td>image</td>
            <td><label for="textfield6"></label>
                <input type="file" name="image" id="textfield6"/></td>
        </tr>
        <tr>
            <td>password</td>
            <td><label for="textfield8"></label>

                <input type="password" name="password" id="textfield8"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <input type="submit" name="button" id="button" value="Register"/>
                </center>
            </td>
        </tr>
    </table>

</form>
</body>
</html>
