<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>update product</title>
</head>

<body>
<form action="" method="post">
    <h1> update product</h1>
    <table width="401" border="1">
        <tr>
            <td width="53" scope="col">name</td>
            <td width="336" scope="col"><label for="textfield"></label>
                <input type="text" name="product_name" id="textfield"/></td>
        </tr>
        <tr>
            <td>price</td>
            <td><label for="textfield2"></label>
                <input type="text" name="price" id="textfield2"/></td>
        </tr>
        <tr>
            <td>details</td>
            <td><label for="textarea"></label>
                <textarea name="details" id="textarea" cols="35" rows="5"></textarea></td>
        </tr>
        <tr>
            <td>image</td>
            <td><label for="textfield3"></label>
                <input type="file" name="image" id="textfield3"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <input type="submit" name="button" id="button" value="update"/>
                </center>
            </td>
        </tr>
    </table>

</form>
</body>
</html>
