<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Update Offer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
 <!-- Favicon -->
 <link href="../../static/assests/images/favicon.svg" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="../../static/assests/css/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="../../static/assests/css/bootstrap-icons/bootstrap-icons.css">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="../../static/assests/lib/animate/animate.min.css">
    <link rel="stylesheet" href="../../static/assests/lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/assests/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="../../static/assests/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="../../static/assests/css/style.css">
</head>

<body>
    <div class=" bg-white p-0"> 
        <!-- Spinner Start   -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End   -->


        <!-- Navbar & Hero Start -->
        <div class=" position-relative p-0" id="login-section">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="/shop_home" class="navbar-brand p-0">
                    <h1 class="text-primary m-0">
                        <i class="fa fa-store me-2"></i>
                        SuperMart
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="/shop_home" class="nav-item nav-link ">Home</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Manage Product</a>
                            <div class="dropdown-menu m-0">
                                <a href="add_product" class="dropdown-item">Add Product</a>
                                <a href="view_product" class="dropdown-item active">View Product</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Manage Stock</a>
                            <div class="dropdown-menu m-0">
                                <a href="add_stock" class="dropdown-item">Add Stock</a>
                                <a href="view_stock" class="dropdown-item">View Stock</a>
                            </div>
                        </div>
                        <a href="view_bill" class="nav-item nav-link">View Bill</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                            <div class="dropdown-menu m-0">
                                <a href="send_complaint" class="dropdown-item">Send Complaint</a>
                                <a href="send_feedback" class="dropdown-item">send feedback</a>
                                <a href="view_reply" class="dropdown-item">View reply</a>
                                <a href="view_user_rating" class="dropdown-item">View rating</a>
                            </div>
                        </div>
                    </div>
                    <a href="/logout" class="btn btn-primary py-2 px-4">Logout</a>
                </div>
            </nav>

            <div class=" py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Update Offer</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Update Offer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Contact Start -->
        <div class=" py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Update Offer</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <main style="margin-top: 58px">
                            <!-- back button -->
                            <a href="/view_product" class="btn btn-secondary ms-5 "> <i class="bi bi-arrow-left me-2"></i>Back</a>
                            <div class="container pt-4 form-signin w-100 m-auto text-center mt-3">
                                <form method="post" enctype="multipart/form-data" autocomplete="off" class="mt-5">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control h-25" id="floatingInput" placeholder="offer" name="offer"
                                            required value="{{data.offer}}">
                                        <label for="floatingInput">Offer</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="date" class="form-control " id="floatingInput" placeholder="date from"
                                            name="date_from" required  value="{{data.date_from}}">
                                        <label for="floatingInput">From Date</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="date" class="form-control " id="floatingInput" placeholder="date to" name="date_to"
                                            required  value="{{data.date_to}}">
                                        <label for="floatingInput">To Date</label>
                    
                                    </div>
                    
                    
                                    <!-- <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Update Offer</button> -->
                                    <input type="submit" class="w-100 btn btn-lg btn-primary mt-2" value="Update Offer">
                                </form>
                    
                    
                            </div>
                        </main>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5  wow fadeIn" data-wow-delay="0.1s">
           
            <footer class="bg-dark text-center text-light">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2023 Copyright:
                  <a   href="">SuperMart.</a> &nbsp; All Rights Reserved
                </div>
              </footer>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="../../static/assests/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/assests/js/bootstrap.bundle.min.js"></script>
 
 <script src="../../static/assests/lib/wow/wow.min.js"></script>
 <script src="../../static/assests/lib/easing/easing.min.js"></script>
 <script src="../../static/assests/lib/waypoints/waypoints.min.js"></script>
 <script src="../../static/assests/lib/counterup/counterup.min.js"></script>
 <script src="../../static/assests/lib/owlcarousel/assets/owl.carousel.min.css"></script>
 <script src="../../static/assests/lib/tempusdominus/js/moment.min.js"></script>
 <script src="../../static/assests/lib/tempusdominus/js/moment-timezone.min.js"></script>
 <script src="../../static/assests/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


 <!-- Template Javascript -->
<script src="../../static/assests/js/main.js"></script>

</body>

</html>