<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>View offer</title>
</head>

<body>
<form action="" method="post">
    <table width="449" border="1">
        <tr>
            <th width="10" scope="col">#</th>
            <th width="63" scope="col">product details</th>
            <th width="40" scope="col">offer</th>
            <th width="73" scope="col">date from</th>
            <th width="61" scope="col">date to</th>
            <th colspan="2" scope="col">&nbsp;</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td width="30"><a href="#">edit</a></td>
            <td width="126"><a href="#">delete</a></td>
        </tr>
    </table>

</form>
</body>
</html>
