<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>view product</title>
</head>

<body>
<form action="" method="post">
    <table width="424" border="1">
        <tr>
            <th width="10" scope="col">#</th>
            <th width="49" scope="col">name</th>
            <th width="63" scope="col">price</th>
            <th width="55" scope="col">details</th>
            <th width="95" scope="col">image</th>
            <th width="112" colspan="2" scope="col">&nbsp;</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;
                <img src="#" alt="img">
            </td>
            <td><a href="#">edit</a></td>
            <td><a href="#">delete</a></td>
        </tr>
    </table>

</form>
</body>
</html>
