<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>view bill</title>
</head>

<body>
<form action="" method="post">
    <table width="287" border="1">
        <tr>
            <th width="10" scope="col">#</th>
            <th width="37" scope="col">date</th>
            <th width="53" scope="col">user name</th>
            <th width="62" scope="col">amount</th>
            <th width="91" scope="col">&nbsp;</th>
        </tr>
        {% for i in data%}
        <tr>
            <td>&nbsp; {{loop.index}}</td>
            <td>&nbsp;{{i.date}}</td>
            <td>&nbsp;{{i.name}}</td>
            <td>&nbsp;{{i.amount}}</td>
            <td><a href="/view_bill_items/{{i.master_id}}">view more</a></td>
        </tr>
        {% endfor %}
    </table>

</form>
</body>
</html>
