<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SuperMart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/assests/images/favicon.svg" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../static/assests/css/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="../static/assests/css/bootstrap-icons/bootstrap-icons.css">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="../static/assests/lib/animate/animate.min.css">
    <link rel="stylesheet" href="../static/assests/lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assests/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="../static/assests/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="../static/assests/css/style.css">
</head>

<body>
    <div class="container-xxl bg-white p-0 ">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Star  -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 ">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0">
                        <i class="fa fa-store me-3"></i>
                        SuperMart
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars "></span>
                </button>
                <div class="collapse navbar-collapse my-3 " id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4 text-end">
                    </div>
                    <a href="/register" class=" btn btn-outline-primary mx-4 ">Register</a>
                    <a href="#login-section" class="btn btn-primary py-2 px-4">Login</a>

                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">
                                SuperMart
                            </h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">
                                This is the website for shopping with qr in supermarket. We provide you the best service
                                of shopping with qr in supermarket. We are the best website for shopping with qr in
                                supermarket.
                                <br>
                                <br>
                                Explore new shopping experience with us
                            </p>
                            <a href="#login-section"
                                class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Login</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img src="../static/assests/images/hero-bg.png" alt="" class="img-fluid animated slideInRight">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>Customer Support</h5>
                                 <p>
                                     Our customer service team is devoted to providing you with the best shopping experience possible. 
                                    
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-truck text-primary mb-4"></i>
                                <h5>Free Delivery</h5>
                                <p>
                                    We provide you the best service of shopping with qr in supermarket. We are the best website for shopping with qr in supermarket.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                                <h5>Online Order</h5>
                                <p>
                                    We provide you the best service of shopping with qr in supermarket. We are the best website for shopping with qr in supermarket.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>24/7 Service</h5>
                                <p> 
                                    Our customer service team is available 24/7 to address any questions or concerns you may have. We are committed to providing you with the best possible service and support throughout your shopping experience.
                                     

                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Create some service sections  like 24/7  add fontawesome icon and some description-->
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="../static/assests/images/ab3.png">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"src="../static/assests/images/ab2.png"
                                    style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="../static/assests/images/ab5.png">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="../static/assests/images/ab4.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-store text-primary me-3"></i>SuperMart
                        </h1>
                        <p class="mb-4">
                        <p>SuperMart is a grocery store. We have been in the business for 15 years and have been
                            providing the best quality products to our customers. We have a wide range of products that
                            are available at affordable prices. We have a team of experts who are always ready to help
                            you with your queries.
                        </p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15
                                    </h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50
                                    </h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">shops</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->





        <div class="container-xxl py-5 px-0 wow fadeInUp bg-body" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6  d-none d-md-block">
                    <div class="video">
                        <img src="../static/assests/images/online-shopping-black-friday.gif" alt="" class="img-fluid fixed-ratio-resize">
                    </div>
                </div>
                <!-- Login section -->
                <div class=" col-12 col-md-6 bg-dark d-flex align-items-center" id="login-section">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Login</h5>
                        <h1 class="text-white mb-4"> Explore new shopping world </h1>
                        <form method="post" autocomplete="off">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control " id="name" placeholder="Your email"
                                            name="username" required>
                                        <label for="name">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="email" placeholder="password"
                                            name="password" required>
                                        <label for="email">Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <!-- <button class="btn btn-primary w-100 py-3" type="submit">Login </button> -->
                                    <input type="submit" class="btn btn-primary w-100 py-3" value="Login" name="login">
                                </div>
                                <div class="col-12 text-center ">
                                    <p class="mt-5 mb-3  ">Don't have an account? <a href="/register">Register</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5  wow fadeIn" data-wow-delay="0.1s">
           
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a><br><br>
                            Distributed By <a class="border-bottom" href="https://themewagon.com"
                                target="_blank">ThemeWagon</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

     <script src="../static/assests/lib/wow/wow.min.js"></script>
     <script src="../static/assests/lib/easing/easing.min.js"></script>
     <script src="../static/assests/lib/waypoints/waypoints.min.js"></script>
     <script src="../static/assests/lib/counterup/counterup.min.js"></script>
     <script src="../static/assests/lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="../static/assests/lib/tempusdominus/js/moment.min.js"></script>
     <script src="../static/assests/lib/tempusdominus/js/moment-timezone.min.js"></script>
     <script src="../static/assests/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
     <script src=""></script>

    <!-- Template Javascript -->
    <script src="../static/assests/js/main.js"></script>
</body>

</html>