<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/images/favicon.png">
    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/assests/css/bootstrap.min.css">
    <!-- Custom css -->
    <!-- <link rel="stylesheet" href="./login.css"> -->
    <link rel="stylesheet" href="../static/assests/css/login.css">

</head>

<body >
    <!-- ====================Navigation section starts====================== -->
    <header class="border-bottom shadow py-2  ">
        <div class="container text-center ">
            <div class="row align-items-start bg-gradient      align-items-center ">
                <div class="col-6 text-start ">
                    <img src="../static/assests/images/full-logo.png" width="" height="50">
                </div>
                <div class="col-6 text-end ">
                    <a href="/register">
                        <button type="button" class="btn btn-primary ">Register</button>

                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- ====================Navigation section ends====================== -->
    <!-- ====================Login form section starts====================== -->
    <main class="form-signin w-100 m-auto text-center mt-5  shadow rounded">
        <form method="post" autocomplete="off"> 
            <img class="mb-4" src="../static/assests/images/logo.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating mb-2">
                <input type="text" class="form-control " id="floatingInput" placeholder="name@example.com" name="username" autofocus>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <!-- <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">Don't have an account? <a href="/register" class="">Register</a></p>
        </form>
    </main>
    <!-- ====================Login form section ends====================== -->

</body>

</html>